*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100vh;
}

body {
  font-family: sans-serif;
}

.wrapper {
  display: flex;
  width: 100%;
  height: 100vh;
}

.float-left {
  width: 25%;
  height: 100%;
  background-color: #17212b;
}

.flt-nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.icon-line {
  width: 30px;
  height: 20px;
  border-bottom: 3px solid #999;
  border-radius: 2px;

  position: relative;
  top: -15px;
}

.icon-line::before {
  content: "";
  width: 30px;
  height: 20px;
  border-bottom: 3px solid #999;
  border-radius: 2px;

  position: absolute;
  top: 14px;
}

.icon-line::after {
  content: "";
  width: 30px;
  height: 20px;
  border-bottom: 3px solid #999;
  border-radius: 2px;

  position: absolute;
  top: 7px;
}

.icon-line:hover {
  cursor: pointer;
}

.search > input {
  padding: 7px 20px;
  background-color: #232f3d;
  border: 0;
  border-radius: 3px;
  color: #fff;

  outline: none;
}

.search > input:hover {
  cursor: text;
}

.flb-nav {
  padding: 5px;
  position: relative;
}

.flb-nav > .card {
  display: flex;
  justify-content: space-between;
}

.card {
  display: flex;
  justify-content: space-around;

  margin-bottom: 15px;
}

.card:hover {
  cursor: pointer;
}

.card-info {
  position: relative;
  top: 10px;
  left: -43px;
  display: flex;
  flex-direction: column;
}

.card-heading {
  font-size: 18px;
  color: #fff;
  margin-bottom: 10px;
}

.card-info__bottom {
  display: flex;
  align-items: center;
}

.card-info__icon {
  width: 15px;
  height: 15px;
  background-color: #000;
  margin-right: 5px;
}

.card-info__text {
  color: rgb(42, 119, 163);
}

.card-time {
  color: rgb(160, 160, 160);
  font-size: 15px;

  position: relative;
  top: 7px;
}

.float-right {
  width: 75%;
  height: 100vh;
  background-color: #0e1621;

  position: relative;
}

.flr-empty__content {
  width: 100%;
  height: 100vh;
  background-color: transparent;

  position: absolute;
  /* left: 255px; */
  /* z-index: 999; */
}

/* FLOAT RIGHT TOP */

.flr-top {
  opacity: 0;
  pointer-events: none;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: #17212b;

  transition: all 0.3s ease;
}

.flr-top__icon-wrap {
  position: absolute;
  top: 6px;
  left: 978px;
  background-color: transparent;

  border-radius: 50%;

  width: 30px;
  height: 30px;
}

.flr-top__icon-wrap:hover {
  cursor: pointer;
}

.flr-top__dote-icon {
  width: 5px;
  height: 5px;

  background-color: #eee;

  border-radius: 50%;

  position: absolute;
  top: 6px;
  left: 20px;

  z-index: 999;
}

.flr-top__dote-icon::before {
  content: "";
  z-index: 999;

  width: 5px;
  height: 5px;

  background-color: #eee;

  border-radius: 50%;
  position: absolute;
  top: 8px;
  left: 0px;
}

.flr-top__dote-icon::after {
  content: "";
  z-index: 999;

  width: 5px;
  height: 5px;

  background-color: #eee;

  border-radius: 50%;
  position: absolute;
  top: 16px;
  left: 0px;
}

.flr-top__dote-icon:hover {
  cursor: pointer;
}

.flr-top__modal {
  opacity: 0;
  pointer-events: none;

  display: flex;
  flex-direction: column;
  width: 150px;
  height: 200px;
  background-color: #0a1629;

  position: absolute;
  top: 50px;
  left: 850px;

  border-radius: 5px;

  transition: all 0.3s ease;
}

.flr-top__modal-list {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.flr-top__modal-item {
  color: #fff;
  padding: 10px;
}

.flr-top__modal-item:hover {
  cursor: pointer;

  background-color: rgba(28, 42, 65, 0.604);
}

/* FLOAT RIGHT BOTTOM */

.flr-bottom {
  opacity: 0;
  pointer-events: none;

  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #17212b;

  transition: all 0.3s ease;
}

.flr-bottom__file-icon {
  /* width: 25px;
  height: 25px;
  background-color: #fff; */

  font-size: 20px;

  position: absolute;
  top: 10px;
  left: 15px;

  /* border-radius: 10px; */
}

.flr-bottom__file-icon:hover {
  cursor: pointer;
}

.flr-bottom > input {
  position: absolute;
  top: 7px;
  left: 50px;

  padding: 5px 30px;
  outline: none;

  width: 749px;

  background-color: #17212b;
  color: #eee;
  font-size: 18px;

  border: none;

  text-align: start;

  transition: all 0.3s ease;
}

.flr-bottom > input:focus {
  border-bottom: 1px solid #fff;
  transition: all 0.3s ease;
}

.flr-bottom__sticker-icon {
  /* width: 25px; */
  /* height: 25px; */
  /* background-color: #ccc; */
  font-size: 20px;

  position: absolute;
  top: 10px;
  left: 945px;
}

.flr-bottom__sticker-icon:hover {
  cursor: pointer;
}

.flr-bottom__send-icon {
  font-size: 20px;

  position: absolute;
  top: 10px;
  left: 985px;
}

.flr-bottom__send-icon:hover {
  cursor: pointer;
}

.flr-bottom__modal {
  opacity: 0;
  pointer-events: none;

  width: 300px;
  padding: 5px;

  position: relative;
  top: -315px;
  left: 705px;

  border-radius: 10px;

  background-color: #17212b;

  transition: all 0.3s ease;
}

.flr-bottom__modal > p {
  text-align: center;
  font-size: 20px;
  line-height: 19px;
  letter-spacing: 10px;
}

.flr-bottom__modal > span {
  padding-top: 15px;
  padding-top: 15px;
  padding-top: 15px;
  padding: 15px;
  color: #ccc;
  letter-spacing: 1px;
  margin-bottom: 5px;
  font-size: 13px;
}

.flr-bottom__modal > p:hover {
  cursor: pointer;
}

/* Colors */
.channel2 {
  background: linear-gradient(
    90deg,
    rgba(50, 81, 150, 1) 25%,
    rgba(8, 113, 255, 1) 50%,
    rgba(0, 212, 255, 1) 84%
  );
}
/* /Colors */
